/* MEDIA QUERIES */
/* 1450px
---------------------------------------------- */
@media screen and (max-width: 1450px) {
    /* ===========================================
    1.GLOBAL 
    */
    /* 1.1.Main Padding */
    /* Smaller with 60% */

    .hero-navigation {
        padding: 1.5rem 8rem 0 8rem;
    }

    .hero-info {
        padding: 52.5rem 8rem 3rem 8rem;
    }

    .benefits-section {
        padding: 5rem 6rem 6rem 6rem;
    }

    .courses {
        padding: 5rem 8rem;
    }

    .about-section {
        padding: 5rem 8rem;
    }

    .instructors-section {
        padding: 5rem 3rem 2rem 3rem;
    }

    .gallery-section {
        padding: 5rem 0 3rem 0;
    }

    .footer {
        padding: 2.5rem 4.5rem 2.5rem 4.5rem;
    }

    /* ===========================================
    2.HERO SECTION 
    */
    /* 2.1.Hero-Navigation */
    .hero-logo {
        height: 8rem;
    }

    /* ===========================================
    3.BENEFITS SECTION
    */
    .benefit-blue-thumb {
        top: 125rem;
        left: 4rem;
    }


    /* ===========================================
    4.COURSES SECTION
    */
    .course-purple-line {
        top: 20rem;
    }
    
    .course-purple-cross {
        top: 95rem;
        right: 4rem;
    }
    

    /* ===========================================
    8.CTA DOWNLOAD APP SECTION
    */
    .cta-download-app-main-title {
        right: 17rem;
    }
    
    .cta-download-app-btn {
        right: 24rem;
    }


    /* ===========================================
    10.FOOTER
    */
    .footer-logo {
        left: 5.2rem;
    }

    .footer-1 h1 {
        margin-top: 20rem;
    }
}


/* 1270px
---------------------------------------------- */
@media screen and (max-width: 1270px) {
    /* ===========================================
    1.GLOBAL
    */
    /* 1.4.Typography */
    /* Smaller with 20% */
    .hero-title {
        font-size: 4.6rem;
    }
    
    .cta-download-app-main-title,
    .footer-1 h1 {
        font-size: 3.4rem;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    .hero-text {
        font-size: 2.7rem;
    }
    
    h2 {
        font-size: 2.3rem;
    }
    
    .hero-btn,
    p,
    .footer-2 h2,
    .footer-3 h2 {
        font-size: 2rem;
    }
    
    .btn,
    .hero-menu-link,
    .instructor-info,
    .gallery-info,
    .footer-menu-link,
    .footer-3 {
        font-size: 1.7rem;
    }

    .btn {
        padding: 1.6rem 2.4rem;  
    }
    
    .hero-info-right p {
        font-size: 1rem;
    }


    /* ===========================================
    5.ABOUT SECTION
    */
    /* Smaller with 20% */
    .about-img-bg {
        width: 64rem;
        height: 23rem;
    }

    .about-img {
        width: 46rem;
        height: auto;
    }

    .about-pipe {
        left: 22rem;
    }


    /* ===========================================
    8.CTA DOWNLOAD APP SECTION
    */
    .cta-download-app-main-title {
        right: 21rem;
    }
    
    .cta-download-app-btn {
        bottom: 5rem;
        right: 25.5rem;
    }


    /* ===========================================
    9.REGISTER SECTION
    */
    .register-main-title,
    .register-info,
    .register-btn {
        left: 14rem; 
    }


    /* ===========================================
    10.FOOTER
    */
    .footer-pipe {
        right: 10rem;
    }
}


/* 1120px
---------------------------------------------- */
@media screen and (max-width: 1120px) {
    /* ===========================================
    2.HERO SECTION 
    */
    /* 2.1.Hero-Navigation */
    .hero-layer.active {
        display: block;
        background-color: rgba(0, 0, 0, 0.80);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .hamburger {
        display: flex;
    }

    .hero-menu {
        display: none;
        position: fixed;
        top: 15rem;
        right: 8rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        z-index: 3;
    }

    .hero-menu.active {
        display: flex;
    }

    .hero-menu-item {
        padding-bottom: 3rem;
    }
    
    /* .hero-navigation {
        width: 100%;
        background-color: var(--navbar);
    }

    nav div {
        width: 100%;
    }
    
    .hero-menu {
       
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 50rem;
        width: 100%;
        height: 50vh;
        background-color: var(--navbar);
    }

    .hero-menu-item {
        margin: 0 0 2rem 0;
    } */

}


/* last change 07.04.2021
CREATE THE NAVIGATION HAMBURGER MENU

NEXT BREAK POINTS:
-global
    buttons
    font-size


    
1120
- courses
- benefits
- about

1100
- hero nav

1000
- footer

850-800
- instructors

700
- register

680
- cta download app


- gallery

 */


 /* ADD NEW BREAK PONT BELOW */

